<div class="container">
  <h3 class="text-center">Welcome to my Chat Application</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body pt-2">
          <h5 class="font-size-16 mb-4 align-text-center">Chat APP</h5>
          <div class="chat-conversation">
            <app-chat [maxHeight]="268"></app-chat>
          </div>
        </div>
      </div>
    </div>
</div>
